.assignment{
    margin-left: 20px;
}
.wifi{
    width: 65px;
}
.lan{
    width: 50px;
    padding-left: 28px;
}
.wifitext{
    float: left;
    margin-left: 35px;
}
.lantext{
    float: left;
    margin-left: 50px;
}
body {
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-color: #c8cdcf;
    color: #0c0c0c;
    margin: 0px;
    padding: 0px;
}
.left {
    display: inline-block;
}
.left img {
    width: 100px;
    margin-top: 15px;
    padding-left: 20px;

}
.right {
    position: absolute;
    right: 0px;
    display: inline-block;
}
.navbar li {
    font-family: 'Montserrat', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    display: inline-block;
    font-size: 17px;
    margin-top: 15px;
    margin-right: 31px;
}
.navbar li a {
    color: #225b79;
    text-decoration: none;
}
.navbar li a:hover,
.navbar li a:active {
    color: #5ab3e3;
    text-decoration: overline;
}
.header {
    background-color: white;
}
.line {
    border-top: 3px solid #5ab3e3;
    margin-left: 50px;
    margin-top: 7px;
    margin-right: 50px;
}
#f1{
    border: 0px;
    width: 20%;
    height: 620px;
}
#f2{
    border: 0px;
    width: 60%;
    height: 620px;
}
#f3{
    border: 0px;
    width: 19.2%;
    height: 620px;
}